{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{%block content%}
<div class="bkimg">
    <div class="col-md-12 p-lg-5 mx-auto my-3">
        <h1>One Minute Pitch</h1>
        <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>

        <div class="button">
            <a class="btn btn-outline-secondary text-white" href="/new_pitch"style="font-size:40px">Post Pitch</a>
            <a class="btn btn-outline-secondary text-white" href="/pitches"style="font-size:40px">View Pitches</a>

        </div>
    </div>
</div>
{%endblock%}

