{% extends 'base.html' %}
<!-- Displaying Pitches  -->
{%macro displayPitches(pitches) %}
<div class="container-fluid">
    <br>
    <div class="jumbotron">
        <h1>View Pitches</h1>     
    </div>
    <div class="card-columns">
        {%for pitch in pitches%}
        <div class="card">
            <div class="card-body">
                <p>{{pitch.pitch}}</p>
                <p>Category:{{pitch.category}}</p>
            </div>
            <div class="card-btns">
                <a href="/comment/{{pitch.id}}"><button class="btn btn-info">Comment</button></a>
                <a href="/upvote/{{pitch.id}}"><button class="btn btn-success">Upvote {{pitch.upvote.count()}}</button></a>
                <a href="/downvote/{{pitch.id}}"><button class="btn btn-danger">Downvote {{pitch.downvote.count()}}</button></a>

            </div>    
        </div>
        {%endfor%}
        
    </div>   
</div>
<!-- Displaying Comments  -->
{% macro displayComments(comments) %}
<div class="container">
    <div class="card-columns">
        {% for comment in comments %}
        <div class="card">
            <div class="card-top">
            </div>
            <div class="card-body">
                <p>{{comment.comment}}</p>
            </div>
             <p class="text-center">{{comment.post.title}}</p>
        </div>
        {% endfor %}
    </div>

</div>
{%endmacro%}


